* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    main {
        padding: 16px;
         }

    footer {
        padding: 24px 0px;
        }

    img {
        height: 200px;
    }

    nav {
        border-bottom: solid black 1px;
        padding: 16px;
    }
